.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container-for-spinners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 1100px;
  margin-top: 10px;

  padding: 0px;

  background-color: #0d0d0d;

  gap: 0px;
  border-radius: 8px;

  padding: 27px;
}

.HomeTryAgainBg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.HomeTryAgainTab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 88%;
  height: 466px;
  top: 135px;
  left: 166px;
  gap: 0px;
  border-radius: 8px;

  background-color: #0d0d0d;
}

.slick-container {
  width: 80%;
  max-width: 1100px;
  margin-top: 10px;

  padding: 0px;
  color: antiquewhite;

  background-color: #0d0d0d;

  gap: 0px;
  border-radius: 8px;

  padding: 27px;
}

.logo-image {
  margin: 0px 10px;
  height: 100px;
  width: 100px;

  width: 189px;
  height: 130px;

  border-radius: 8px;

  width: 160px;
  height: 180px;
}

/* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

.slick-prev:before,
.slick-next:before {
  color: black;
}

.bg-home {
  width: 100%;
  height: 1352px;

  background: #181818;
  color: #ffffff;
  padding-top: 3px;
}
.trending-heading {
  color: #ffffff;
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 600;
  line-height: 31.27px;
  text-align: left;

  top: 653px;

  gap: 0px;
}
.tryAgain {
  background-color: crimson;
  color: gainsboro;
  border: 0px;
  height: 25px;
  width: 99px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}
.originals-heading {
  color: #ffffff;
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 600;
  line-height: 31.27px;
  text-align: left;

  top: 910px;

  gap: 0px;
}

.movie-poster-random {
  background: #0d0d0d;
  width: 100%;
  height: 466px;
  top: 135px;
  left: 166px;
  gap: 0px;
  border-radius: 0px;
}
.bgPosterItems {
  padding: 44px;
}
.homePosterLoader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #0d0d0d;
  margin: 22px;
  height: 150px;
  align-items: center;
}
.randomMovieTitle {
  color: #ffffff;
  font-family: HK Grotesk;
  font-size: 64px;
  font-weight: 600;
  line-height: 62px;
  text-align: left;
  width: 500px;
  height: 62px;
  top: 223px;
  left: 164px;
  gap: 0px;
}
.randomMovieOverview {
  color: #ffffff;
  font-family: HK Grotesk;
  font-size: 20px;
  font-weight: 500;
  line-height: 26.06px;
  text-align: left;
  width: 660px;
  height: 78px;
  top: 309px;
  left: 164px;
  gap: 0px;
}
.randomMovieButton {
  width: Hug (74px) px;
  height: Hug (40px) px;
  top: 419px;
  left: 164.5px;
  gap: 0px;
  border-radius: 3px;

  color: #dcf0ef;
  font-family: HK Grotesk;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  background-color: #3e58df;
  border: 0px;

  gap: 0px;
}
.randomButton {
  margin-top: 22px;
}

.randomMovieButton {
  width: 70px;
  height: 33px;
  font-weight: 600;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-container-for-spinners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1100px;
    margin-top: 10px;

    padding: 0px;

    background-color: #0d0d0d;

    gap: 0px;
    border-radius: 8px;

    padding: 27px;
  }

  .HomeTryAgainBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
  }

  .HomeTryAgainTab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 466px;
    top: 135px;
    left: 166px;
    gap: 0px;
    border-radius: 8px;

    background-color: #0d0d0d;
  }

  .slick-container {
    width: 80%;
    max-width: 1100px;
    margin-top: 10px;

    padding: 0px;
    color: antiquewhite;

    background-color: #0d0d0d;
    margin: 33px;
    gap: 0px;
    border-radius: 8px;
  }

  .logo-image {
    margin: 0px 10px;

    border-radius: 8px;

    width: 88px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }

  /* You can change the CSS color to style the Next and 
Previous Arrow buttons according to your project */

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }

  .bg-home {
    width: 100%;
    height: 1352px;
    top: 1203px;
    left: 13167px;
    gap: 0px;

    background: #181818;
    color: #ffffff;
  }
  .trending-heading {
    color: #ffffff;
    font-family: HK Grotesk;
    font-size: 24px;
    font-weight: 600;
    line-height: 31.27px;
    text-align: left;

    top: 653px;

    gap: 0px;
  }
  .originals-heading {
    color: #ffffff;
    font-family: HK Grotesk;
    font-size: 24px;
    font-weight: 600;
    line-height: 31.27px;
    text-align: left;

    top: 910px;

    gap: 0px;
  }

  .movie-poster-random {
    background: #0d0d0d;
    width: 100%;
    height: 466px;
    top: 135px;
    left: 166px;
    gap: 0px;
    border-radius: 0px;
  }
  .bgPosterItems {
    padding: 44px;
  }
  .homePosterLoader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #0d0d0d;
    margin: 22px;
    height: 150px;
    align-items: center;
  }
  .randomMovieTitle {
    color: #ffffff;
    font-family: HK Grotesk;
    font-size: 64px;
    font-weight: 600;
    line-height: 62px;
    text-align: left;
    width: 500px;
    height: 62px;
    top: 223px;
    left: 164px;
    gap: 0px;
  }
  .randomMovieOverview {
    color: #ffffff;
    font-family: HK Grotesk;
    font-size: 20px;
    font-weight: 500;
    line-height: 26.06px;
    text-align: left;
    width: 340px;
    height: 78px;
    top: 309px;
    left: 164px;
    gap: 0px;
  }
  .randomMovieButton {
    width: Hug (74px) px;
    height: Hug (40px) px;
    top: 419px;
    left: 164.5px;
    gap: 0px;
    border-radius: 3px;

    color: #171f46;
    font-family: HK Grotesk;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;

    gap: 0px;
  }
  .randomButton {
    margin-top: 22px;
  }
}
