.popularMovieImages {
  width: 180px;
  height: 250px;

  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  margin: 22px;
}
.popularMoviesBg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: #0d0d0d;
  background-size: cover;
  list-style-type: none;
  margin: 33px;
  border-radius: 22px;
  padding: 22px;
}
.popularBg {
  background-color: #181818;
  height: 100%;
  padding-top: 6px;
}

.navBarBgp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #131313;
  color: #f8fafc;

  width: 100%;
  height: 103px;
  gap: 0px;
  opacity: 0px;
  list-style-type: none;
}
.loaderForPopular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0d0d;
  height: 400px;
}
